@use '@angular/material' as mat;
@use 'themes.scss';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.dark-theme {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
        theme-type: dark,
      ),
    )
  );
}

body {
  background-color: var(--background-main);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}
