:root {
  --color-profit: rgb(60, 193, 149);
  --color-loss: rgb(249, 76, 76);
  --action-color: rgb(0, 188, 212);
}

.light-theme {
  --background-main: rgb(233, 237, 241);
  --color-text: rgb(14, 15, 26);
  --row-background: rgb(220, 225, 229);
  --row-hover: rgb(201, 209, 216);
  --badge-color: rgb(129, 153, 170);
}

.dark-theme {
  --background-main: rgb(42, 56, 71);
  --color-text: rgb(198, 210, 219);
  --row-background: rgba(14, 15, 26, 0.25);
  --row-hover: rgba(53, 71, 89, 0.5);
  --badge-color: rgb(14, 27, 36);
}
